@model IEnumerable<WebMaquina.Models.CadCliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Criar Conta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDCliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDCliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDCliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
