@model IEnumerable<WebMaquina.Models.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDMaquina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDMaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDInventario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDInventario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDInventario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
